<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.anl.card.persistence.mapper.CardBatchProcessMapper">
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_card_batch_process (
        	id,
        	code,
        	action,
        	number,
        	file_path,
        	operator,
        	comment,
        	start_time,
        	end_time,
        	state,
        	create_time
        ) VALUES (
        	#{id},
        	#{code},
        	#{action},
        	#{number},
        	#{filePath},
        	#{operator},
        	#{comment},
        	#{startTime},
        	#{endTime},
        	#{state},
        	#{createTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.anl.card.persistence.po.CardBatchProcess">
        UPDATE t_card_batch_process 
		<set>
	        <if test="code != null">
	        	code = #{code},
	        </if>
	        <if test="action != null">
	        	action = #{action},
	        </if>
	        <if test="number != null">
	        	number = #{number},
	        </if>
	        <if test="filePath != null">
	        	file_path = #{filePath},
	        </if>
	        <if test="operator != null">
	        	operator = #{operator},
	        </if>
	        <if test="comment != null">
	        	comment = #{comment},
	        </if>
	        <if test="startTime != null">
	        	start_time = #{startTime},
	        </if>
	        <if test="endTime != null">
	        	end_time = #{endTime},
	        </if>
	        <if test="state != null">
	        	state = #{state},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_card_batch_process WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.anl.card.persistence.po.CardBatchProcess">
		SELECT
			*
		FROM
			t_card_batch_process 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="action != null">
				AND action = #{action}
			</if>
			<if test="number != null">
				AND number = #{number}
			</if>
			<if test="filePath != null">
				AND file_path = #{filePath}
			</if>
			<if test="operator != null">
				AND operator = #{operator}
			</if>
			<if test="comment != null">
				AND comment = #{comment}
			</if>
			<if test="startTime != null">
				AND start_time = #{startTime}
			</if>
			<if test="endTime != null">
				AND end_time = #{endTime}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="action != null">
				AND action = #{action}
			</if>
			<if test="number != null">
				AND number = #{number}
			</if>
			<if test="filePath != null">
				AND file_path = #{filePath}
			</if>
			<if test="operator != null">
				AND operator = #{operator}
			</if>
			<if test="comment != null">
				AND comment = #{comment}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_card_batch_process
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.anl.card.persistence.po.CardBatchProcess">
		SELECT 
			*
		FROM
			t_card_batch_process 
	    <include refid="where" />
		<if test="startPage!= null">
			limit #{startPage}, #{pageSize} 
		</if>	
	</select>
	
	<select id="getListByPo" parameterType="com.anl.card.persistence.po.CardBatchProcess" resultType="com.anl.card.persistence.po.CardBatchProcess">
		SELECT 
			*
		FROM 
			t_card_batch_process 
	    <include refid="whereForPo" />
	</select>
</mapper>

