<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.anl.card.persistence.mapper.SupplierMapper">
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_supplier (
        	id,
        	company,
        	sign_key,
        	invoke_token,
        	ec_code,
        	identity,
        	linker,
        	phone,
        	mail,
        	state,
        	bank_info,
        	business,
        	ec_extension_info,
        	attachment,
        	info,
        	creator,
        	create_time
        ) VALUES (
        	#{id},
        	#{company},
        	#{signKey},
        	#{invokeToken},
        	#{ecCode},
        	#{identity},
        	#{linker},
        	#{phone},
        	#{mail},
        	#{state},
        	#{bankInfo},
        	#{business},
        	#{ecExtensionInfo},
        	#{attachment},
        	#{info},
        	#{creator},
        	#{createTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.anl.card.persistence.po.Supplier">
        UPDATE t_supplier 
		<set>
	        <if test="company != null">
	        	company = #{company},
	        </if>
	        <if test="signKey != null">
	        	sign_key = #{signKey},
	        </if>
	        <if test="invokeToken != null">
	        	invoke_token = #{invokeToken},
	        </if>
	        <if test="ecCode != null">
	        	ec_code = #{ecCode},
	        </if>
	        <if test="identity != null">
	        	identity = #{identity},
	        </if>
	        <if test="linker != null">
	        	linker = #{linker},
	        </if>
	        <if test="phone != null">
	        	phone = #{phone},
	        </if>
	        <if test="mail != null">
	        	mail = #{mail},
	        </if>
	        <if test="state != null">
	        	state = #{state},
	        </if>
	        <if test="bankInfo != null">
	        	bank_info = #{bankInfo},
	        </if>
	        <if test="business != null">
	        	business = #{business},
	        </if>
	        <if test="ecExtensionInfo != null">
	        	ec_extension_info = #{ecExtensionInfo},
	        </if>
	        <if test="attachment != null">
	        	attachment = #{attachment},
	        </if>
	        <if test="info != null">
	        	info = #{info},
	        </if>
	        <if test="creator != null">
	        	creator = #{creator},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_supplier WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.anl.card.persistence.po.Supplier">
		SELECT
			*
		FROM
			t_supplier 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="company != null">
				AND company = #{company}
			</if>
			<if test="signKey != null">
				AND sign_key = #{signKey}
			</if>
			<if test="invokeToken != null">
				AND invoke_token = #{invokeToken}
			</if>
			<if test="ecCode != null">
				AND ec_code = #{ecCode}
			</if>
			<if test="identity != null">
				AND identity = #{identity}
			</if>
			<if test="linker != null">
				AND linker = #{linker}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="mail != null">
				AND mail = #{mail}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="bankInfo != null">
				AND bank_info = #{bankInfo}
			</if>
			<if test="business != null">
				AND business = #{business}
			</if>
			<if test="ecExtensionInfo != null">
				AND ec_extension_info = #{ecExtensionInfo}
			</if>
			<if test="attachment != null">
				AND attachment = #{attachment}
			</if>
			<if test="info != null">
				AND info = #{info}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="company != null">
				AND company = #{company}
			</if>
			<if test="signKey != null">
				AND sign_key = #{signKey}
			</if>
			<if test="invokeToken != null">
				AND invoke_token = #{invokeToken}
			</if>
			<if test="ecCode != null">
				AND ec_code = #{ecCode}
			</if>
			<if test="identity != null">
				AND identity = #{identity}
			</if>
			<if test="linker != null">
				AND linker = #{linker}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="mail != null">
				AND mail = #{mail}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="bankInfo != null">
				AND bank_info = #{bankInfo}
			</if>
			<if test="business != null">
				AND business = #{business}
			</if>
			<if test="ecExtensionInfo != null">
				AND ec_extension_info = #{ecExtensionInfo}
			</if>
			<if test="attachment != null">
				AND attachment = #{attachment}
			</if>
			<if test="info != null">
				AND info = #{info}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_supplier
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.anl.card.persistence.po.Supplier">
		SELECT 
			*
		FROM
			t_supplier 
	    <include refid="where" />
		<if test="startPage!= null">
			limit #{startPage}, #{pageSize} 
		</if>	
	</select>
	
	<select id="getListByPo" parameterType="com.anl.card.persistence.po.Supplier" resultType="com.anl.card.persistence.po.Supplier">
		SELECT 
			*
		FROM 
			t_supplier 
	    <include refid="whereForPo" />
	</select>
</mapper>

