<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.anl.card.persistence.mapper.UserAccountMapper">
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="userId">
    <![CDATA[
        INSERT INTO t_user_account (
        	user_id,
        	primary_account,
        	sub_account,
        	credit,
        	membership,
        	create_time,
        	update_time
        ) VALUES (
        	#{userId},
        	#{primaryAccount},
        	#{subAccount},
        	#{credit},
        	#{membership},
        	#{createTime},
        	#{updateTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.anl.card.persistence.po.UserAccount">
        UPDATE t_user_account 
		<set>
	        <if test="primaryAccount != null">
	        	primary_account = #{primaryAccount},
	        </if>
	        <if test="subAccount != null">
	        	sub_account = #{subAccount},
	        </if>
	        <if test="credit != null">
	        	credit = #{credit},
	        </if>
	        <if test="membership != null">
	        	membership = #{membership},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime},
	        </if>
	        <if test="updateTime != null">
	        	update_time = #{updateTime}
	        </if>
	    </set>
        WHERE
	        user_id = #{userId}
	</update>

	<delete id="deleteById">
        DELETE FROM t_user_account WHERE
        user_id = #{userId}
	</delete>

	<select id="getById" resultType="com.anl.card.persistence.po.UserAccount">
		SELECT
			*
		FROM
			t_user_account 
	    WHERE
	        user_id = #{userId} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="primaryAccount != null">
				AND primary_account = #{primaryAccount}
			</if>
			<if test="subAccount != null">
				AND sub_account = #{subAccount}
			</if>
			<if test="credit != null">
				AND credit = #{credit}
			</if>
			<if test="membership != null">
				AND membership = #{membership}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="primaryAccount != null">
				AND primary_account = #{primaryAccount}
			</if>
			<if test="subAccount != null">
				AND sub_account = #{subAccount}
			</if>
			<if test="credit != null">
				AND credit = #{credit}
			</if>
			<if test="membership != null">
				AND membership = #{membership}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_user_account
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.anl.card.persistence.po.UserAccount">
		SELECT 
			*
		FROM
			t_user_account 
	    <include refid="where" />
		<if test="startPage!= null">
			limit #{startPage}, #{pageSize} 
		</if>	
	</select>
	
	<select id="getListByPo" parameterType="com.anl.card.persistence.po.UserAccount" resultType="com.anl.card.persistence.po.UserAccount">
		SELECT 
			*
		FROM 
			t_user_account 
	    <include refid="whereForPo" />
	</select>
</mapper>

